<div class="grid">
	<div class="col-12">
		<div class="card  px-6 py-6">
			<h5>DataView</h5>
			<!-- <p-dataView #dv [value]="products" [paginator]="true" [rows]="9" filterBy="name" [sortField]="sortField" [sortOrder]="sortOrder" layout="grid"> -->
			
				<p-toolbar styleClass="mb-4">
				<ng-template pTemplate="left">
					<div class="flex flex-column md:flex-row md:justify-content-between gap-2">
						<button pButton pRipple type="button" label="Nuevo" icon="pi pi-plus" class="p-button-success" (click)="openNew()"></button>
						<button pButton pRipple label="Eliminar" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"></button>
                    </div>
					</ng-template>

					<ng-template pTemplate="right">
						<span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input type="search" pInputText placeholder="Search by Name" (input)="onFilter(dv, $event)">
                        </span>	
						<!-- <p-dataViewLayoutOptions></p-dataViewLayoutOptions> -->
				   </ng-template>
				</p-toolbar>
			
				<p-dataView #dv [value]="products" [paginator]="true" [rows]="9" filterBy="name" layout="grid">
				<ng-template let-product pTemplate="listItem">
					<div class="col-12">
						<div class="flex flex-column md:flex-row align-items-center p-3 w-full">
							
							<div class="flex-1 flex flex-column align-items-center text-center md:text-left">
								<div class="font-bold text-2xl">{{product.name}}</div>
								<div class="mb-2">{{product.description}}</div>	
							</div>	
						</div>
					</div>
				</ng-template>

				<ng-template let-product pTemplate="gridItem">
					<div class="col-12 md:col-4">
						<div class="card m-3 border-1 surface-border">
							<div class="flex flex-column align-items-center text-center mb-3 justify-content-between">
								<div class="text-2xl font-bold">{{product.name}}</div>
								<div class="mb-3">{{product.ocupation}}</div>
								<div class="mb-3">{{product.age}}<label> años</label></div>
								<div class="mb-3">{{product.genre}}</div>
								<div class="mb-3">{{product.pnumber}}</div>


							</div>
							<div class="flex align-items-center justify-content-center">	
								<button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editProduct(product)"></button>
								<button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteProduct(product)"></button>
							</div>
						</div>
					</div>
				</ng-template>
			</p-dataView>
		</div>
	</div>

	<!-- acá empieza el cuadrito de info -->
	<p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Nuevo Paciente" [modal]="true" class="p-fluid">
		<ng-template pTemplate="content">
			<div class="field">
				<label for="name">Nombre Paciente:</label>
				<input type="text" pInputText id="name" [(ngModel)]="product.name" required autofocus
					[ngClass]="{'ng-invalid ng-dirty' : submitted && !product.name}" />
				<small class="ng-dirty ng-invalid" *ngIf="submitted && !product.name">El nombre es requerido.</small>
			</div>
			
			<div class="field">
				<label for="Ocupación">Ocupación</label>
				<textarea id="ocupation" pInputTextarea [(ngModel)]="product.ocupation" required rows="3" cols="20"></textarea>
			</div>
	
			<div class="field">
				<label class="mb-3">Genero</label>
				<div class="formgrid grid">
					<div class="field-radiobutton col-6">
						<p-radioButton id="category1" name="category" value="Masculino"
							[(ngModel)]="product.genre"></p-radioButton>
						<label for="category">Masculino</label>
					</div>
					<div class="field-radiobutton col-6">
						<p-radioButton id="category2" name="category" value="Femenino"
							[(ngModel)]="product.genre"></p-radioButton>
						<label for="category">Femenino</label>
					</div>
	
					<div class="formgrid mb-3">
						<div class="field col">
							<label for="age">Edad</label>
							<p-inputNumber id="age" [(ngModel)]="product.age" [showButtons]="true" [min]="0" [max]="100"></p-inputNumber>
						</div>
					</div>

					<div class="formgrid mb-3">
						<div class="field col">
						<label for="pnumber">Numero telefónico</label>
						<p-inputNumber id="pnumber" [(ngModel)]="product.pnumber"></p-inputNumber>
					</div>
					</div>
				</div>
			</div>
		</ng-template>
	
		<ng-template pTemplate="footer">
			<button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
			<button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" (click)="saveProduct()"></button>
		</ng-template>
	</p-dialog>

	<p-dialog [(visible)]="deleteProductDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
		<div class="flex align-items-center justify-content-center">
			<i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
			<span *ngIf="product">¿Desea eliminar el paciente?<b>{{product.name}}</b>?</span>
		</div>
		<ng-template pTemplate="footer">
			<button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductDialog = false"></button>
			<button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
		</ng-template>
	</p-dialog>

</div>