<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <img src="../../assets/layout/styles/layout/images/nutricionimg.png" height="30" alt="logo">
        <span style="color: white; font-family: Segoe UI;">Nutrición</span>
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars" style="color: white;"></i>
    </button>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        <button class="p-link layout-topbar-button" (click)="logout()">
            <i class="pi pi-user" style="color: white;"></i>
            <span style="color: white;">Salir</span>
        </button>
    </div>
</div>